#cubeHolder {
    display: flex;
    flex-direction: row;
    gap: 16vw;
}

#nounCube,
#adjectiveCube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.cubeLayer {
    display: grid;
    grid-template-rows: 4vw 4vw 4vw;
    grid-template-columns: 8vw 8vw 8vw;
    transform: skew(-45deg);
    border-top: solid .25vw #000000;
    border-right: solid .25vw #000000;
    border-bottom: solid .25vw #000000;
    border-left: solid .25vw #000000;
}

.cubeCell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid .25vw #00000040;
    border-right: solid .25vw #00000040;
    border-bottom: solid .25vw #00000040;
    border-left: solid .25vw #00000040;
    font-size: 1vw;
    line-height: 1vw;
    text-shadow: 0 0 .125vw #000000, 0 0 .125vw #000000, 0 0 .125vw #000000, 0 0 .125vw #000000;
}